  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">GEOLOCATION INSTRUCTIONS</h4>
      </div>
      <div class="modal-body">
			You have blocked access to your location.  In order to receive distances to venues, you must enable location services.  To use location services for BarFly, you'll need to enable permissions with your browser.  Here's how you do it:
			1.  FIREFOX IMAGES AND INSTRUCTIONS
			2.  CHROME IMAGES AND INSTRUCTIONS
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-share_location="no" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>