  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
		Would you like to let Barfly know your location?  Doing so offers the following benefits:

		1.  Show you venues, events, and specials nearest to you.
		2.  Shows you how far venues, events, and specials are from your location.

		Your information will not be shared with any third-parties.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-share_location="no" data-dismiss="modal">Not now</button>
        <button type="button" class="btn btn-primary" data-share_location="yes" >Yes, I'm sharing my location</button>
      </div>
    </div>
  </div>