					<%= f.email_field :email, placeholder: 'Email' %>
					<%= f.password_field :password, placeholder: 'Password' %>
					<div class="row">
						<div class="col-xs-12">
							<%= link_to "Forgot your password?", new_password_reset_path %><br>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-xs-12">
							<div class="checkbox-container">
								<%= check_box_tag :remember_me, 1, params[:remember_me] %>
							</div>
							<div class="checkbox-label">
								Remember Me
							</div>
						</div>	
					</div>