<!-- Tearsheet Modal -->
<% if false %>
<div class="modal fade" id="tearsheetModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<%= render partial: 'tearsheet' %>
</div>
<% end %>	

SQL: <%= @venues.to_sql %>


<div class="container">
	<div class="row">
		<!-- Venue thumbnails -->
		<div id="dynamic-content" class="col-md-9">
		
			<div id="venues" class="row">
				<!-- venue thumbnails are loaded by .loadContent('home') -->
			</div>
									
			<!-- Pagination -->
			<div id="pagination-links" class="text-center">
				<%= will_paginate @venues %>
			</div>	
			
		</div>
		
		<!-- Sort and Filter -->
		<div id="filter-container" class="col-md-3">
			<%= render partial: 'filter_sort' %>
		</div>
	</div>
	
</div><!-- container -->