<div class="container">

	<div class="row">
		<!-- Venue thumbnails -->
		<div id="dynamic-content" class="col-xs-9">
		
			<div id="venues" class="row">
				<!-- venue thumbnails are loaded by sessions/home.js.erb via .loadContent('home') -->
			</div>
									
			<!-- Pagination -->
			<div id="pagination-links" class="text-center">
				<%= will_paginate @venues %>
			</div>	
			
		</div>
		
		<!-- Sort and Filter -->
		<div id="filter-container" class="col-xs-3">

			<div id="filter-sort">
				<%= render partial: 'layouts/filter_sort_menu' %>
			</div>	
		</div>
	</div>
	
</div><!-- container -->