<% if false %>
	Used HTML to get tearsheet
<% end %>

<% if false %>
<div id="dynamic-content">
	<%= render partial: 'tearsheet' %>
</div>
<% end %>

<div id="tearsheet">
	<!-- content inserted via AJAX -->
</div>
