			<div class="item active img-responsive"> <!-- need for all items to be active initially in order for jQuery dotdotdot to execute then hide non-active items post dotdotdot. -->
				<%= image_tag("https://s3.amazonaws.com/barfly_thumbnails/phone/"+video.file_name+"-"+"00001"+".png")%>

				<div class="carousel-caption">
					
					<!-- class: 'dotdotdot' calls jQuery.dotdotdot plugin to truncate description -->
					<div class='dotdotdot'>

					</div>	

				</div>
				<% if (params[:action] != 'tearsheet') %>
					<div class="carousel-caption venue">
						<h2><strong><%= video.venue_name %></strong></h2>
						<p><em><%= video.neighborhood.name %></em></p>
					</div>
				<% end %>
			</div> <!-- item -->