<!-- For more info about creating the venue_event_months hash, see below: -->
<!-- http://railscasts.com/episodes/29-group-by-month?view=asciicast -->
<!-- http://stackoverflow.com/questions/1080547/ruby-on-rails-grouping-blog-posts-by-month -->

<div id="events" class="content">
	<% venue_event_months.each do |month, events| %>
		<!-- Event -->
		<div class="section">
			<%= month.upcase %>
		</div>
		<div class="btn-group-vertical">
			<% events.each do |venue_event| %>
				<%= render 'events', event: venue_event %>
			<% end %>
		</div>	
	<% end %>
</div>

<!-- Footer contains the translucent filter button -->
<div id="navbar_bottom">
	<%= render 'layouts/filter_button' %>		
</div>