<!-- Venue thumbnails -->
<div id="venues">
	<%= render partial: 'venues', collection: @venues, as: 'venue' %>
</div>
	
<!-- Pagination -->
<div id="pagination-links" class="text-center">
<% if false %>			
	<%= image_tag("loading-arrows.gif", id: "loading-indicator")%>
<% end %>												
	<%= will_paginate @venues %>
</div>

<!-- translucent filter button -->
<%= render 'layouts/filter_button' %>