<!-- Venue thumbnails -->
<div id="venues" class="scrollable">
	<%= render partial: 'venues', collection: @venues, as: 'venue' %>
</div>
	
<!-- Pagination -->
<div id="pagination-links" class="text-center">
<% if false %>			
	<%= image_tag("loading-arrows.gif", id: "loading-indicator")%>
<% end %>												
	<%= will_paginate @venues %>
</div>

<!-- translucent filter button -->
<!-- navbar-fixed-bottom element needs to be outside of .scrollable 
	element or else iOS momentum scrolling will also scroll the button. -->			
<%= render 'layouts/filter_button' %>