
<!-- js.erb files (venues, events, specials) will replace or append to div#dynamic-content element -->
<div id="dynamic-content">
	<div id="venues">
		<!-- content inserted via AJAX -->
	</div>	
</div>

<!-- Sort and Filter -->
<div id="filter-container" class="collapse">
	<%= render partial: 'filter_sort' %>
</div>	