	<!-- Carousel -->
	<div id="myCarousel" class="carousel slide">
		<!-- @videos is an ActiveRecord collection -->
		<%= render partial: 'carousel', object: @videos, as: 'videos' %>
	</div><!-- /.carousel -->

	<!-- Jumbotron -->
	<div class="jumbotron dark">
		<h3><strong>CHECK OUT THE VIBE</strong></h3>
		<p class="grey-text">Why read reviews when you can see for yourself?  We provide videos. You choose the venue.</p>
	</div>
	
	<!-- Jumbotron -->
	<div class="jumbotron">
		<P>Watch videos</p>
		<p>Discover events</p>
		<p>Find specials</p>
		<%= button_tag class:'btn btn-primary slideToggler', id:'sign_up', :data => { :button => '#sign_up_form' } do %>
			Create Your Free Account
		<% end %>
	</div>