<div class="container">

	<div class="panel panel-default">
	
		<!-- Default panel contents -->
		<div class="panel-heading">
			<%= link_to "Cancel", "#", class:"back-button btn btn-xs btn-danger pull-right format-right-margin hidden-xs hidden-sm" %>				
			<h3 class="panel-title"><%= @user.first_name %>'s Profile</h3>
		</div><!-- panel heading  -->

		<div class="panel-body">
			<%= render partial: 'edit' %>
		</div> <!-- panel body -->
		
	</div> <!-- panel -->
	
</div> <!-- container -->