<% if false %>
	Used HTML to get views_mobile/venues/edit.html.erb
<% end %>

<% if false %>
<div id="dynamic-content">
	<%= render partial: 'venue_edit' %>
</div>
<% end %>

<div id="venue_edit">
	<!-- content inserted via AJAX -->
</div>