<!-- For more info about creating the venue_event_months hash, see below: -->
<!-- http://railscasts.com/episodes/29-group-by-month?view=asciicast -->
<!-- http://stackoverflow.com/questions/1080547/ruby-on-rails-grouping-blog-posts-by-month -->

<div id="venues_index" class="content scrollable">
	<div class="btn-group-vertical">
		<% @venues.each do |venue| %>
			<%= render partial: 'venue', locals: {venue: venue} %>
		<% end %>
	</div>	
</div>
	
<!-- translucent filter button -->
<%= render 'layouts/filter_button' %>