			<!-- Contains the translucent "filters" button -->
			<div class="navbar-fixed-bottom translucent">
				<%= button_tag "Filters", id:"filter_button", class:"btn btn-sm", :data =>{ :page => "filter_sort_menu", :title => "Filter & Sort" } %>
			</div>