		<% if params[:action] == "home" || params[:action] == "events_list" || params[:action] == "specials_list" %>
	
			<!-- Contains the translucent filter button -->
			<div id="navbar-fixed-bottom" class="navbar-fixed-bottom">
				<%= button_tag "Filters", id:"filter_button", class:"btn btn-sm", :data =>{ :page => "filter_sort_menu", :title => "Filter & Sort" } %>
			</div>
		
		<% end %>
