    <% if params[:action] == "home" || params[:action] == "events_list" || params[:action] == "specials_list" %>
	
		<div class="footer-fixed-bottom">

			<% if false %>
				<%= link_to "Filters", {:controller => "stand_alone_pages", :action => "show_filters"}, :id => "show-filters", :class => "btn btn-sm", :"data-remote" => true, :"data-toggle" => "modal", :"data-target" => "#barflyModal" %>
			<% end %>

			<button class="btn btn-sm slideToggler-vert" id="filter_button">Filters</button>
			
		</div>
		
		<div id="apply-filters-fixed-bottom" class="footer-fixed-bottom collapse">
			<button class="btn btn-primary col-xs-12 slideToggler-vert collapse" id="apply_filters_button">Apply Filters</button>
		</div>	
		
	<% end %>