						<!-- Preloader -->	
						<%= render 'layouts/preloader' %>

						<!-- anchor for status messages -->
						<div class="status_message">
						</div>

						<!-- Content -->
						<div id="rightPane-content" class="dynamicContent">
							<!-- content loaded by ajax -->
						</div>