// https://github.com/twbs/bootstrap-sass
@import "bootstrap";

// http://www.colorhexa.com/
$color-darkest: #050505;
$color-darker: #0d0d0d;
$color-dark: #2d2d2d;
$color-medium-dark: #474747;
$color-medium: #b6b6b6;
$color-light: #e6e6e6;
$color-lighter: #f0f0f0;
$color-lightest: #fafafa;

body {
	margin-top: 52px; // height of the navbar
	padding-top: 0px;
	background-color: red;
//	color: $color-light;
//	margin-left:auto;
//	margin-right:auto;
}
 
.color-lightest{
	color: $color-lightest;
} 

.padding-20{
	padding: 20px;
}

input.hidden[type="radio"]{
	visibility:hidden;
}

/* buttons
	BUTTON STATES - touch screen - need to add "ontouchstart" in html <body ontouchstart=""> tag to enable ::active pseudoclass for touch devices - http://yjyao.com/2012/03/some-handy-web-development-tricks.html
	1.  initial state - button is initially loaded
	2.  .active class - button is pushed
	3.  :hover pseudoclass - final state of released button
	
	BUTTON STATES - mouse click
	1.  initial state
	2.  :hover pseudoclass - mouse hovering over button
	3.  :active pseudoclass - button is clicked
	4.  .active class
*/

#menu_button, #menu_button:hover{
	border-color: #333333;
	background-color: transparent;
}

#menu_button.active{
	border-color: $color-light;
	background-color: $color-dark;
}

#menu{
	.btn-group-vertical{
		padding: 0;
	}
}

.divider{
	margin: 0 10px 0 10px;
	border-bottom: 1px solid $color-dark;
}

.btn-glass, .btn-glass:hover {
	color: $color-light;
	background-color: transparent;
	border: 1px solid $color-light;
}

.btn-glass.active {
	color: $color-darker;
	background-color: $color-light;
}

//.btn-glass.active, .btn-glass:hover, .btn-glass:focus, .btn-glass:active{
//	color: $color-darker;
//	background-color: $color-light;
//}

.btn-group, .btn-group-vertical {
	width: 100%;
	padding: 0 10px 0 10px;
}

.btn-group{
	.btn-glass{
		padding-left: 0;
		padding-right: 0;
		span.title{
			padding: 0;
			margin: 0 -10px 0 -10px; 
		}
	}
	.glyphicon{
		font-size: 1.8em;
	}
}
	
.btn-group-vertical{
	.btn{
		text-align: left;
	}
	.btn-glass{
		border: 0px solid transparent;
		border-bottom: 1px solid $color-dark;
		padding: 15px 15px 15px 15px;
	}
	.btn-glass:last-child{
		border: 0px solid transparent;
		border-bottom: 0px solid transparent;
	}
}

#events, #tearsheet_events{
	.btn-group-vertical > .btn-glass{
		padding: 5px 5px 5px 5px;
		border-radius: 0px;
	}
	.btn-group-vertical > .btn-glass:first-child{
		margin: 5px 0 5px 0;
	}
	.btn-group-vertical > .btn-glass:last-child{
		margin: 5px 0 0 0;
	}
}

.btn-date{
//	@extend .vee-red;
	float: left;
	width: 4em;
//	height: 7.5em;
//	padding: 12px 0 0 0; //top right bottom left
	margin: 0 6px 0 0; //top right bottom left
	.date{
		background-color: $color-light;
		width: 100%;
		height: 4em;
		margin: 0 auto 0 auto; // top right bottom left
		padding: 3px 2px 3px 0; // top right bottom left
		border-radius: 6px;
		day-of-week{
			display: block;
			text-align: center;
			font-size: 9px;
			color: red;
		}
		calendar-day{
			display: block;
			text-align: center;
			font-size: 20px;
			color: $color-darker;
		}
		calendar-month{
			display: block;
			text-align: center;
			font-size: 9px;
			color: $color-darker;
		}
	}
	.time{
		font-size: 10px;
		color: white;
		text-align: center;
		padding: 6px 0 0 0 // top right bottom left
	}
}
		
// for container on the right side (contains event type, event name, and event description)
.btn-description{
	float: initial;
	width: 100%;
	height: 5.5em;
	font-size: 14px;
	font-weight: bold;
	color: white;
	.time{
		font-size: 12px;
		font-weight: initial;
		color: white;
		text-align: left;
	}
	.preheadline{
		display: inline;
		font-size: 14px;
	}
	.headline{
		display: block;
	}
	.descriptionToggleTrigger{
		height: 100%;
		.description{
			font-size: 12px;
			color: $color-medium;
		}
		.description.active{
			padding: 6px 0 0 0; //top right bottom left
		}
		.dotdotdot{
			width: 100%;
			height: 50%;
		}
	}
}

.btn-description.active{
	height: auto;
}

.navbar-button{
//	@extend .vee-red;
	position: relative;
	z-index: 1040; // needs to be on top of rightPane bar which has z-index: 1035
	float: left;
	width: 50px;
	padding: 3px 20px 2px 10px;
	margin-top: 1px;
	margin-left: 5px;
	margin-bottom: 1px;
	background-color: transparent;
	background-image: none;
	border: 0px solid transparent;
	border-radius: 4px;
	font-size: 150%;	
}

#btn-close{
	color: $color-lightest;
	opacity: 0.5;
}		

#filter_button{
	width: 35%;
	color: white;
	font-size: 110%;
	font-weight: bold;
	background-color:rgba(0,0,0,0.5);
	border: 1px solid $color-medium;
	border-radius: 15px;
	margin-bottom: 50px;
	outline: none;
}

#filter_button:active, #filter_button.active {
	color: $color-darker;
	background-color:rgba(230,230,230,0.5);
}

 

/* navbar */

.navbar{
	margin-bottom: 0;
}

.navbar-pane{
	position: fixed;
	top: 0;
	width: calc(100% - 75px); // need to account for the # of pixels that remain showing from the navbar: 15px (margin-left) + 43px (#menu_button - class: "navbar-toggle") + 2px (border) + 15px (margin-right)	
	min-height: 51px;
	padding: 5px 0;	
	z-index: 1025; // needs to be underneath of navbar which has z-index: 1030
	background-color: $color-darker;
	color: $color-lightest;
	.title{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 3px 0 0 0; // need top padding to vertically align title
	}
	.glyphicon{
		top: 4px;
		opacity: 0.5;
	}
}

#navbar-rightPane{
	width: 100%;
}

.navbar-header{
//	overflow:hidden;
	background-color: $color-darker;
}

.navbar-brand {
  float: right;
}

.navbar-toggle {
  float: left;
  margin-left: 15px;
}

// translucent "filters" button
.navbar-fixed-bottom {
	// inherits display: none from .collapse class in #slider
	text-align: center;
	background-color: transparent;
	padding: 0 4px 4px 4px; // prevents browser scrollbars from interferring with button.
}


/* Preloader */
.preloader{
	background-color: $color-darkest;
//	position: fixed;
//	top: 51px;
	position: absolute;
	top: 0px;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 110;
//	height: 100%;
	overflow: auto;
	display: none;
	color: $color-lightest;
//	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	outline: 0;
}
 
// center of the screen - http://www.smashingmagazine.com/2013/08/09/absolute-horizontal-vertical-centering-css/
.absolute-center{
	position: fixed;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Chrome, Safari, Opera */
	transform: translate(-50%, -50%);
	img{
		margin-bottom: 1em;
	}
}

.image-center{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// center of the parent container - http://www.smashingmagazine.com/2013/08/09/absolute-horizontal-vertical-centering-css/
.container-center{
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Chrome, Safari, Opera */
	transform: translate(-50%, -50%);	
}

/* Thumbnails */
.thumbnail-container{
	padding: 0;
}

.thumbnail{
	position: relative;
	z-index: 10;
	padding: 0;
	margin:0;
	border: 0;
	border-radius: 0;
	border-color: transparent;
	background-color: transparent;
	border-top: 1px solid $color-dark;	
	border-bottom: 1px solid $color-dark;
}

.thumbnail-container:first-child{
	border-top: 0px solid $color-dark;	
}

.status{
	position: absolute;
	z-index: 5;
	top: 5%;
	left: 5%;
	text-align: left;
	font-size: .9em;
	font-weight: bold;
	color: red;
}

.play_button{
	color: white;
	font-size: 4em;
	opacity: 0.5;
	text-shadow: 0 1px 2px;
}

.carousel-caption{
	position: absolute;
	left: 5%;
	right: 5%;
	padding: 0;
	text-align: left;
	z-index: 5;
}

// Problems with making video responsive (i.e. filling out the screen) - http://stackoverflow.com/questions/14250583/safari-on-ipad-ios6-does-not-scale-html5-video-to-fill-100-of-page-width
//.video-container{
//	position: relative;
//	padding-top: 56.25%;
//	video {
//		display: block;
//		position: absolute;
//		width: 100%;
//		height: 100%;
//		top: 0;
//	}
//}

video {
	position: absolute; // absolute position takes video out of normal rendering, allowing us to put it "behind" other elements (i.e. thumbnail image and glyphicon play button)
	height: 1px; // need to keep the video small in order for it to "shrink" behind the thumbnail/glypicon play button when video is done playing.
	width: 1px; // need to keep the video small in order for it to "shrink" behind the thumbnail/glypicon play button when video is done playing.
}


/* Slide mobile content to left - http://www.learningjquery.com/2009/02/slide-elements-in-different-directions/  */
#mainPane {
	position: absolute;
	top: 51px;
	left: 0;
	z-index: 100;
	width: 100%;
	height: 1500px;
	background-color: $color-darkest; // needed in order to "cover up" #menu when sliding
	color: $color-light;
}


.body{
	position: relative;
	top: 0;
	width: 100%;
	background-color: $color-darker;
}
	
.section{
	background-color: $color-dark;
	padding: 5px 15px 5px 15px;
	font-size: 0.8em;
}
		
#menu, #rightPane {
//	position: relative; // fixed/absolute position messes up delegated touch events with specific ID selectors
//	top: 50px;
	width: 100%;
	height: 100%;
	color: $color-light;
	background-color: $color-darker;
	z-index: 5;
//	overflow: auto;
//  overflow-y: scroll; // show a scroll bar for content that overflows vertically - http://www.w3schools.com/cssref/tryit.asp?filename=trycss3_overflow-xy
	-webkit-overflow-scrolling: touch; // for touch screens - allows user to "spin" scrollable elements (i.e. like a slot machine)
	.header{
		text-align: center;
		margin: 0px 0px 0px 0px;
		padding: 30px 15px 30px 15px;
		background-color: $color-darkest;
		.btn{
			width: 100%;
		}
	}
}

#menu{
	width: calc(100% - 75px); // need to account for the # of pixels that remain showing from the navbar: 15px (margin-left) + 43px (#menu_button - class: "navbar-toggle") + 2px (#menu_button right and left border) + 15px (margin-right)
	.btn-glass{
		padding: 15px 0 15px 25px; // top right bottom left
		text-align: left;
		border-radius: 0;
		border-bottom: 0 solid transparent;
	}
}

#rightPane {
	.body{
		.header{
			width: 100%;
		}
	}
	.preloader{
		z-index: 50;
	}

}
	
#tearsheet_options.btn-group, #sort_options.btn-group {
	.btn-glass{
		width: 20%;
		border-radius: 0;
		border-bottom: 1px solid $color-light;
	}
	.btn-glass:first-child{
		border-radius: 4px 0 0 4px;
	}
	.btn-glass:last-child{
		border-radius: 0 4px 4px 0;
	}
}
	
/* Vertical slider */
#slider{
	position: absolute;
	top: 0; // jquery dynamically changes this value to the height of the screen in order to place slider at "bottom" initially - so slider can "slide up" when being opened
	left: 0;
	z-index: 1035; // needs to be on top of navbar which has z-index: 1030
	width: 100%;
	height: 100%;
	background-color: $color-darker;
	color: $color-light;
	.navbar-pane{
		position: relative;
		z-index: 1035; // needs to be on top of navbar which has z-index: 1030
		width: 100%
	}
}


/* Filter and sort menu */
#filter_sort_menu{
	margin-bottom: 60px; // should be about the same size as the height of the fixed "apply filters" button.
	.search_field{
		width: 95%;
		margin: 0px 10px 0px 10px;
		padding: 5px;
		background-color: $color-light;
		color: $color-darker;
		border-radius: 4px;
	}
	.content{
		padding: 15px 0 15px 0;
	}
}

#tearsheet{
	.content{
		padding: 15px 0 15px 0;
	}
}

// Need #events and #tearsheet_events because of scenario where list of events are displayed in mainPane and rightPane; there will be multiple div elements with id="events"
#events.content, #tearsheet_events.content{
	padding-top: 0;
	p{
		margin: 15px 0 0 0;
	}
}

#events.content{	
	p{	
		padding: 0 15px 0 15px;
		background-color: $color-darkest;
	}
}

	
#tearsheet_options{
	margin-top: -10px;
}

/* Google Maps */
#map{
	img{
		width: 100%;
		height: 100%;
		margin-bottom: 15px;
	}
	.btn{
		width: 100%;
	}
}


 
 
 
/* debugging 
*/

.vee-red {
	border-style: solid !important;
	border-width: 1px !important;
	border-color: red !important;
	}
	
.vee-blue {
	border-style: solid !important;
	border-width: 1px !important;
	border-color: blue !important;
	}

.vee-green {
	border-style: solid !important;
	border-width: 1px !important;
	border-color: green !important;
	}
	
.vee-yellow {
	border-style: solid !important;
	border-width: 1px !important;
	border-color: yellow !important;
	}